<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-3">
<h3>Create New Question</h3>
<div class="mb-3">
    Image <input class="form-control form-control-sm" id="formFileSm" type="file" [(ngModel)]="question.image_src">
</div>
<div class="col-lg-4 col-lg-offset-4">
    Title <input type="text" id="title" [(ngModel)]="question.title">
</div>
<div class="col-lg-4 col-lg-offset-4">
    Topic <input type="text" id="topic" [(ngModel)]="question.topic">
</div>
<div class="col-lg-4 col-lg-offset-4">
    Description <input type="text" id="description_question" [(ngModel)]="question.description_question">
</div>
<br>
<button type="button" class="btn btn-primary" (click)="getQuestion()">CREATE</button>
</div>
</div>