<body>
    <div class='d1'>
        <ul>
            <li><h1 style="font-size: 30px; font-weight: normal; float: left;">DoConnect User </h1></li>
            <li style="float:left">
                <div class="doconnectimg"></div>
            </li>
            <li style="float:right"><button class="b1" (click)="login()" >Login/Signup</button></li>
            <li style="float:right"><button class="b1" (click)="home()">Home</button></li>
            <li style="float:right">
                <div class="homeimgg"></div>
            </li>
        </ul>
    </div>
    </body>